trunk/SebastianFrontEnd/Service References/SebastianService/SebastianWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2999/WebServices/SebastianWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SebastianWebService.DTO" />
  <xs:element name="GetAllAirports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAirportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SebastianWebService.DTO" minOccurs="0" name="GetAllAirportsResult" nillable="true" type="q1:ArrayOfAirport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SebastianWebService.DTO" minOccurs="0" name="airport" nillable="true" type="q2:Airport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SebastianWebService.DTO" minOccurs="0" name="GetScheduleResult" nillable="true" type="q3:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SebastianWebService.DTO" minOccurs="0" name="flight" nillable="true" type="q4:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>