SebastianFrontEnd/Service References/SebastianService/SebastianWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SebastianWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2999/WebServices/SebastianWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2999/WebServices/SebastianWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2999/WebServices/SebastianWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SebastianWebService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISebastianWebService_GetAllAirports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAirports" />
  </wsdl:message>
  <wsdl:message name="ISebastianWebService_GetAllAirports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAirportsResponse" />
  </wsdl:message>
  <wsdl:message name="ISebastianWebService_GetSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedule" />
  </wsdl:message>
  <wsdl:message name="ISebastianWebService_GetSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISebastianWebService_BookFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:BookFlight" />
  </wsdl:message>
  <wsdl:message name="ISebastianWebService_BookFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="ISebastianWebService">
    <wsdl:operation name="GetAllAirports">
      <wsdl:input wsaw:Action="http://tempuri.org/ISebastianWebService/GetAllAirports" message="tns:ISebastianWebService_GetAllAirports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISebastianWebService/GetAllAirportsResponse" message="tns:ISebastianWebService_GetAllAirports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISebastianWebService/GetSchedule" message="tns:ISebastianWebService_GetSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISebastianWebService/GetScheduleResponse" message="tns:ISebastianWebService_GetSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/ISebastianWebService/BookFlight" message="tns:ISebastianWebService_BookFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISebastianWebService/BookFlightResponse" message="tns:ISebastianWebService_BookFlight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISebastianWebService" type="tns:ISebastianWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAirports">
      <soap:operation soapAction="http://tempuri.org/ISebastianWebService/GetAllAirports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <soap:operation soapAction="http://tempuri.org/ISebastianWebService/GetSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <soap:operation soapAction="http://tempuri.org/ISebastianWebService/BookFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SebastianWebService">
    <wsdl:port name="BasicHttpBinding_ISebastianWebService" binding="tns:BasicHttpBinding_ISebastianWebService">
      <soap:address location="http://localhost:2999/WebServices/SebastianWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>